/* Então, o '*' é o seletor universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* por padrão, pegamos esse :root ao invés de html como seletor */
:root {
  /* é como se eu estivesse criando uma variável (--text-color por ex) que posso usar em outros lugares do CSS*/
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surfce-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  */

  /* background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
  /* background: url(./assets/bg-mobile.jpg) no-repeat top center/cover; */

  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 588px;

  /* margin-top: 56px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto; */
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */
#switch {
  position: relative;
  /* coloca esse relative para relativizar o absoluto do filho(switch button), 
    o absolute do filho vai ser agora relativo ao elemento switch (pai) agora.
  */

  width: 64px;
  margin: 4px auto; /* centraliza esse elemnto por ter um display block */
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  /* right: 0;
  left: initial; */
  animation: slide-in 0.4s forwards; /* essa regra forwards diz para manter as propriedades do to da animation slide-in (não recomeça) */
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links - lista */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  /* transition: all 0.2s; */
  transition: background 0.2s;
}

/* sudo-selector - pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animations */
@keyframes slide-in {
  /* está movendo o objeto para 50% */
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  /* está movendo o objeto de volta */
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}